<div class="container">

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Welcome to the Angular Meetup</mat-card-title>
      <mat-card-subtitle>Sponsored by <a href="https://www.parkside.at/"
           target="_blank">Parkside.at</a></mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <img *ngIf="sticker"
           [src]="sticker"
           width="300px"
           alt="Photo of a Shiba Inu">
      <p>
        Put your name below:
      </p>
      <div class="registerContainer">
        <div class="formRow">
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput
                   placeholder="Nice to meet you!"
                   [(ngModel)]="name"
                   #nameInput="ngModel"
                   required />
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button
              (click)="requestPermission()"
              [disabled]="!nameInput.valid"
              color="primary">JOIN</button>
    </mat-card-actions>
  </mat-card>
</div>